.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.block__title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.blocks__loader {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .block__title {
    flex-direction: column-reverse;
    gap: 2rem;
    font-size: 1.7rem !important;
    width: 100%;
  }
}
