@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/variables.scss';

.techSpecs__block {
  display: block;
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 14px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.2);
}

.techSpecs__title {
  color: $primary;
  font-size: $primary-five-size;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: 16px;
  border-bottom: 1.5px solid $elements;
}

.techSpecs__characteristics {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.techSpecs__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.techSpecs__itemTitle {
  color: $secondary;
  font-size: $primary-four-size;
  font-weight: 500;
  line-height: 150%;
}

.techSpecs__itemSubTitle {
  color: $primary;
  font-size: $primary-four-size;
  font-weight: 600;
  line-height: 150%;
}

@media (max-width: 500px) {
  .techSpecs__block {
    max-width: 300px;
  }
  .techSpecs__itemSubTitle {
    font-size: 0.7rem;
  }
  .techSpecs__itemTitle {
    font-size: 0.7rem;
  }
}
