@import '../../assets/styles/colors.scss';
@import '../../assets/styles/variables.scss';

.empty__title {
  text-align: center;
  font-weight: 600;
  color: $primary;
  font-size: $primary-third-size;
  padding-bottom: 2rem;
}

.favorite__list {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
