@import '../../assets/styles/colors.scss';
@import '../../assets/styles/variables.scss';

.logo__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: $primary;
  font-weight: 700;
  font-size: $primary-six-size;
  padding-top: 5px;
}

.burger__container {
  width: 100%;
  height: 100%;
}

.burger__menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 100%;
  background: #f3f5f9;
  position: fixed;
  z-index: 50;
  top: 0;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.6s ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
}

.burger__menu.closed {
  transform: translateX(-100%);
  opacity: 0;
}

.burger__menu.active {
  transform: translateX(0);
  opacity: 1;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.menu > .menu__item {
  margin-top: 20px;
}

.menu__listItem > .menu__itemLink {
  color: #035252;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
    color: #919191;
    text-decoration: underline;
  }
}

.close__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 22px;
  margin-left: 23px;
  margin-top: 20px;
}

.close {
  color: #035252;
}

.burger__logo {
  max-width: 30px;
}

.burger__logoBlock {
  display: flex;
  align-items: center;
  gap: 25px;
}

.menu__description {
  position: relative;
  top: 200px;
  margin: 0 auto;
  color: #035252;
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .burger__container {
    display: inline-block;
  }
}

@media  screen and (max-width: 400px) {
    .burger__logo {
      position: relative;
      bottom: 2px;
    }
}