.swiper__wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  margin-bottom: 80px;
}

.catalog__container {
  max-width: 1138px;
  margin: 0 auto;
}

.slide {
  width: 300px !important;
  margin-right: 0 !important;
}
