@import '../../assets/styles/colors.scss';
@import '../../assets/styles/variables.scss';

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.custom-select {
  &__control {
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 2px solid lighten(#292e2e, 8%) !important;
    box-shadow: none !important;
    width: 100%;
  }
  &--menu-is-open {
    border-color: #e42c64 !important;
  }
}

.select {
  width: 300px;
}

@media screen and (max-width: 500px) {
  .select {
    max-width: 250px;
  }
}
