@import '../../assets/styles/colors.scss';
@import '../../assets/styles/variables.scss';

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.custom-select {
  &__control {
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 2px solid lighten(#292e2e, 8%) !important;
    box-shadow: none !important;
  }
  &--menu-is-open {
    border-color: #e42c64 !important;
  }
  &__value-container {
    padding: 0 !important;
    cursor: text !important;
  }
  &__input-container {
    color: #999aa9 !important;
  }
  &__indicator-separator {
    display: none !important;
  }
  &__indicators {
    cursor: pointer;
  }
  &__indicator {
    color: #66766e !important;
    &:hover {
      color: #999aa9 !important;
    }
  }
  &__multi-value {
    cursor: pointer;
    color: #313131 !important;
    border-radius: 0.5rem !important;
    padding: 5px !important;
  }
  &__multi-value__label {
    font-weight: 600 !important;
    font-size: 80% !important;
    color: rgba(white, 0.7);
  }
  &__multi-value__remove {
    color: #66766e !important;
    &:hover {
      background: transparent !important;
      color: white !important;
    }
  }
  &__menu {
    background-color: #292e2e !important;
    color: rgba(white, 0.6) !important;
    animation: scaleIn 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &__option {
    cursor: pointer !important;
    &--is-focused {
      background: lighten(#292e2e, 8%) !important;
    }
  }
  &-container > div {
    outline: none !important;
    box-shadow: none !important;
    &:hover,
    &-menu-is-open {
      border-color: #ced4da !important;
    }
  }
}

.select {
  width: 500px;
}


@media screen and (max-width: 500px) {
  .select {
    max-width: 250px;
  }
}
