@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.phone__layout {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.phone__navigationItem {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 40px;
}

.phone__phonesTitle {
  margin-bottom: 0;
  color: $secondary;
  font-weight: 600;
}

.backButton__item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.phoneBack__button {
  background: transparent;
  color: $secondary;
  font-weight: 600;
}

.phoneModel__title {
  padding-bottom: 40px;
}

.phoneModel__title {
  color: $primary;
  font-size: $primary-third-size;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.01em;
  margin-bottom: 0;
}

.phoneModel__capture {
  font-weight: 600;
  font-size: $primary-first-size;
  color: $secondary;
}

.product__gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 80px;
}

.images__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.phone__images {
  display: flex;
  gap: 5rem;
  width: 100%;
  max-width: 400px;
}

.phone__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
  transition: all 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
  &:hover {
    transform: scale(1.08);
  }
}

.phoneSmall__image {
  max-width: 60px;
  max-height: 60px;
  cursor: pointer;
}

.phonesAbout__block {
  display: flex;
  gap: 10rem;
}

.phoneSmall__image {
  transition: opacity 0.3s ease;
}

.phoneSmall__image.active {
  opacity: 0.5;
}

.product__block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (width <= 895px) {
  .phonesAbout__block {
    flex-direction: column;
  }
  .phoneModel__title {
    font-size: 1.2rem;
    line-height: normal;
  }
  .phoneModel__capture {
    font-size: 0.8rem;
  }
}

@media screen and (width <= 550px) {
  .phoneModel__capture {
    font-size: 0.9rem;
    line-height: normal;
  }
  .phone__img {
    max-width: 200px;
  }
  .phone__images {
    gap: 2rem;
  }
}
