@import '../../assets/styles/colors.scss';

html,
body {
  height: 100%;
}

.layout__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (width <= 768px) {
  .main {
    padding: 0;
  }
}
