@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.cart__container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 4rem;
  @media (max-width: 999px) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}

.empty__title {
  text-align: center;
  font-weight: 600;
  color: $primary;
  font-size: $primary-third-size;
  padding-bottom: 2rem;
}

.itemsCounter {
  text-align: center;
  color: $secondary;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.counter__marker {
  font-style: italic;
}

.favorite__item {
  width: 100%;
}

.favorite__list {
  width: 100%;
  max-width: 1138px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 24px 0 24px;
  padding-left: 0;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 100px;
  @media (max-width: 900px) {
    margin-bottom: 0;
    padding-left: 20px;
  }
}
