.catalog__container {
  max-width: 1138px;
  margin: 0 auto;
}

.page__select {
  padding: 0px;
  padding-bottom: 40px;
  padding-left: 24px;
  max-width: 400px;
}

.coming__title {
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  color: #545454;
  padding-bottom: 30px;
}
