@import '../../assets/styles/colors.scss';
@import '../../assets/styles/variables.scss';

.colors__title,
.capacity__title {
  color: $secondary;
  font-weight: 600;
  font-size: $primary-first-size;
}

.colors__itemBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1.5px solid $secondary;
}

.checkColors__items {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkColor__button {
  background: transparent;
}

.capacity__buttons {
  padding-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.select__capacity {
  background: transparent;
  padding: 7px 8px 4px 8px;
  font-size: $primary-four-size;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: $primary;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.2);
  border: 1.5px solid $secondary;
}

.phoneCharacteristics__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.favoriteButton {
  margin-top: 40px;
  background: $primary;
  color: $white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out,
    transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
    background: $secondary;
    transform: scale(1.05);
  }
}
