@import '../../assets/styles/colors.scss';
@import '../../assets/styles/variables.scss';

.colors__title,
.capacity__title {
  color: $secondary;
  font-weight: 600;
  font-size: $primary-first-size;
}

.colors__itemBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1.5px solid $secondary;
}

.checkColors__items {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkColor__button {
  background: transparent;
}

.capacity__buttons {
  padding-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.select__capacity {
  background: transparent;
  padding: 7px 8px 4px 8px;
  font-size: $primary-four-size;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: $primary;
  border: 1.5px solid $secondary;
}

.phoneCharacteristics__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}