@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/variables.scss';

.phonesAbout {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about__title {
  color: $primary;
  font-size: $primary-five-size;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: 16px;
  border-bottom: 1.5px solid $elements;
  padding: 20px;
}

.about__titlesBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px;
}

.about__titles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.first__title {
  padding-bottom: 16px;
  color: $primary;
  font-weight: 600;
  line-height: normal;
  font-size: $primary-seven-size;
}

.second__subTitle {
  font-size: $primary-four-size;
  color: $secondary;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
