@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.accessorAbout__container {
  display: flex;
  gap: 2.5rem;
  @media (max-width: 830px) {
    flex-direction: column;
  }
}

.accessorAbout {
  width: 100%;
  max-width: 490px;
  @media (max-width: 830px) {
    max-width: 100%;
  }
}

.about__title {
  color: $primary;
  font-size: $primary-five-size;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: 16px;
  border-bottom: 1.5px solid $elements;
  padding: 20px;
  @media (max-width: 830px) {
    padding-left: 0;
  }
}

.about__titlesBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px;
  @media (max-width: 830px) {
    padding-left: 0;
  }
}

.first__title {
  padding-bottom: 16px;
  color: $primary;
  font-weight: 600;
  line-height: normal;
  font-size: $primary-seven-size;
}

.second__subTitle {
  font-size: $primary-four-size;
  color: $secondary;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media screen and (max-width: 555px) {
  .about__titlesBlock {
    padding-left: 0;
    padding-right: 0;
  }
  .phonesAbout {
    width: 100%;
    max-width: 300px;
  }
}
