$primary: #313237;
$secondary: #89939a;
$border-color: rgba(137, 147, 154, 0.4);
$icons: #b4bdc3;
$elements: #e2e6e9;
$hover-Bg: #fafbfc;
$green: #27ae60;
$red: #eb5757;
$first-Bg: #6d6474;
$white: #fff;
$gold: #ffd700;
$deep-purple: #36013f;
$space-black: rgb(80, 81, 80);
$main-bg: #d8d8d8;
$gray-secondary: #75767f;
$color-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
