$primary: #313237;
$secondary: #89939a;
$icons: #b4bdc3;
$elements: #e2e6e9;
$hover-Bg: #fafbfc;
$green: #27ae60;
$red: #eb5757;
$first-Bg: #6d6474;
$white: #fff;
$gold: #ffd700;
$deep-purple: #36013f;
$space-black: rgb(80, 81, 80);
$main-bg: #d8d8d8;
$gray-secondary: #75767f;
