@import './colors.scss';
@import './fonts.scss';
@import './reset.scss';
@import './variables.scss';
@import './functions.scss';
@import '../../components/Slider/SliderStyles.module.scss';

button:focus {
  outline: none;
}

body {
  overflow-x: hidden;
}

h3,
ul,
h1,
h2,
h4,
h5,
h6,
span,
p,
b,
strong,
em {
  margin-bottom: 0;
}

*::selection {
  background-color: #3131311b;
}

* {
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
