@import './functions.scss';

$primary-first-size: rem(14px);
$primary-secondary-size: rem(50px);
$primary-third-size: rem(34px);
$primary-four-size: rem(16px);
$primary-five-size: rem(24px);
$primary-six-size: rem(20px);
$primary-seven-size: rem(22px);
$primary-media-first: rem(18px);
$primary-media-secondary: rem(36px);
$primary-media-third: rem(26px);
$primary-discount-size: rem(22px);