$primary-first-size: 12px;
$primary-secondary-size: 48px;
$primary-third-size: 32px;
$primary-four-size: 14px;
$primary-five-size: 22px;
$primary-six-size: 18px;
$primary-seven-size: 20px;

$primary-media-first: 16px;
$primary-media-secondary: 34px;
$primary-media-third: 24px;
