@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";


.phoneCharacteristics__container {
  width: 600px;
  @media(max-width: 1130px) {
    max-width: 400px;
  }
}





.colors__title,
.capacity__title {
  color: $secondary;
  font-weight: 600;
  font-size: $primary-first-size;
}

.colors__itemBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 300px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1.5px solid $border-color;
}

.checkColors__items {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkColor__button {
  background: transparent;
}

.capacity__buttons {
  max-width: 300px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 24px;
  border-bottom: 1.5px solid $border-color;
}

.select__capacity {
  background: transparent;
  padding: 7px 8px 4px 8px;
  font-size: $primary-four-size;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: $primary;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.2);
  border: 1.5px solid $secondary;
}

.phoneCharacteristics__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.favoriteButton {
  margin-top: 40px;
  background: $primary;
  color: $white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out,
    transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
    background: $secondary;
    transform: scale(1.05);
  }
}

.checkColor__button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 32px;
}

.price {
  color: $first-Bg;
  font-weight: 800;
  font-size: $primary-third-size;
  line-height: 128%;
  letter-spacing: -0.01em;
}

.priceDiscount {
  font-weight: 500;
  font-size: $primary-discount-size;
  text-decoration: line-through;
}

.productInfo {
  padding-top: 32px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__item {
    font-weight: 600;
    color: $primary;
  }
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: $primary-media-first;
  color: $gray-secondary;
}

.productButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 32px;
}


