.img__slider {
  width: 100%;
  cursor: grab;
  height: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (width <= 1200px) {
  .img__slider {
    max-height: 380px;
  }
}
