.img__slider {
  width: 100%;
  cursor: grab;
  height: 450px;
  object-fit: cover;
  object-position: center;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 20px !important;
  &:hover {
    transform: scale(1.1);
  }
}

.slideCenter {
  object-position: 0px !important;
}

@media screen and (width <= 1200px) {
  .img__slider {
    max-height: 350px;
    object-position: center;
    object-fit: cover;
    width: 100%;
  }
  .slideCenter {
    object-position: -100px !important;
  }
}
